= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{:for => "group_name"}
        グループ名
    .chat-group-form__field--right
      %input#group_name.chat__group_name.chat-group-form__input{:name => "group[name]", :placeholder => "グループ名を入力してください", :type => "text"}/
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{:for => "user-search-field"}
        チャットメンバーを追加
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        %input#user-search-field.chat-group-form__input-member{:name => "search", :placeholder => "追加したいユーザー名を入力してください", :type => "text", :value => ""}/
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      %label.chat-group-form__label{:for => "members"} チャットメンバー
    .chat-group-form__field--right
      .chat-group-users.js-add-user
        #601.chat-group-user.clearfix.js-chat-member
          %input#group_user_ids{:name => "group[user_ids][]", :type => "hidden", :value => "601"}/
          %p.chat-group-user__name test
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      %input.chat-group-form__action-btn{"data-disable-with" => "登録する", :name => "commit", :type => "submit", :value => "登録する"}/


/カリキュラムのhtmlをhamlに変換して14-19に追加
/collection_check_boxesのところ削除
